.note-section {
    width: 90%;
    margin: 25px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #ccc;
    background-color: #a8f0c6;
    border-left: 5px solid #148343;
    position: relative;
}

.note-section__text {
    font-size: 1rem;
    margin-top: 40px;
}

.note-section__info {
    position: absolute;
    top: 0;
    background-color: #148343;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    height: 25px;
    width: 40%;
    border-radius: 10px;
}

.note-section__info__image {
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    border: solid 5px #728d7d;
    object-fit: cover;
}

.note-section__info__user {
    color: white;

}