@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.note {
    width: 90%;
    margin: 20px auto;
    padding: 30px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #ccc;
    background-color: #a8f0c6;
    border-left: 5px solid #148343;

}

.note__title {
    font-size: 1rem;
}